@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";

}

<header>
    <script src="~/js/site.js"></script>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Usted no posee los permiso necesarios para ingresar al siguiente enlace.</p>
    
</header>
