@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Autorizacion_de_tarjetaModel
@{
}

<div clase="container-fluid">
    <h4>Autorizacion de tarjeta</h4>
    
    <hr />
    <dl class="row">

        <dt class="col-sm-2">N. de solicitud:</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Comite de Autorizacion: </dt>
        <dd class="col-sm-10">DATO</dd>

        <dt class="col-sm-2">ID Cliente:</dt>
        <dd class="col-sm-10">Dato</dd>

        <dt class="col-sm-2">Tipo de Persona Legal</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Tipo de identificacion</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Numero de Identificacion</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Nombre Completo:</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Correo: </dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Fecha de Nacimiento: </dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Direccion: </dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Datos Laborales</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Fecha de soliccitud: </dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Referencias: </dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">ID de Tarjeta: </dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Compañia de la Tarjeta: </dt>
        <dd class="col-sm-10">dato</dd>

        

    </dl>
    <hr />
    <div>
        <a class="btn btn-primary" asp-page="./Autorizacion_de_tarjta">ACEPTAR</a>
        <a class="btn btn-primary" asp-page="./Autorizacion_de_tarjta">DENEGAR</a>
    </div>
    <hr />
    

</div>