@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Pages_Datos_Clientes
@{
    ViewData["Title"] = "Datos_Clientes";
}
<div clase="container-fluid">
    <h2>Datos Personales</h2>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Nombre Completo</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Correo</dt>
        <dd class="col-sm-10">Dato</dd>

        <dt class="col-sm-2">Fecha Nacimiento</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Identifiacion</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Tipo Documento</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">dato</dd>
    </dl>
    <hr />
    <h2>Datos Laborales</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Ingreso Mensual</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Ocupacion</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Tiempo Laborando</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Cargo</dt>
        <dd class="col-sm-10">DATO</dd>
    </dl>
    <hr />
    <div>
        <a class="btn btn-success" asp-page="./Datos_Clientes">crear</a>
        <a class="btn btn-secondary" asp-page="./Datos_Clientes">Modificar</a>
        <a class="btn btn-primary" asp-page="./Datos_Clientes">Eliminar</a>
    </div>
</div>