@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Pages_Detalle_Queja
@{
    ViewData["Title"] = "Detalle_Queja";
}
<div clase="container-fluid">
    <h2>Informacion de la Queja</h2>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">ID Queja</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">Dato</dd>

        <dt class="col-sm-2">Fecha Realizada</dt>
        <dd class="col-sm-10">dato</dd>

    </dl>
    <hr />
    <h2>Cliente que la Realizo</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombres Completo</dt>
        <dd class="col-sm-10">dato</dd>

        <dt class="col-sm-2">Identifiacion</dt>
        <dd class="col-sm-10">dato</dd>

    </dl>
    <hr />
    <h2>Empleado que la Recibio</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombres Completo</dt>
        <dd class="col-sm-10">dato</dd>>

    </dl>
    <hr />
    <div>
        <a class="btn btn-success" asp-page="./Detalle_Queja">crear</a>
        <a class="btn btn-secondary" asp-page="./Detalle_Queja">Modificar</a>
        <a class="btn btn-primary" asp-page="./Detalle_Queja">Eliminar</a>
    </div>
</div>
