@page
@model Sistema_de_Tarjeta_de_Credito.Pages.LogoutModel
 @{ViewData["Title"] = "Sesion Finalizada";

}

<header>
    <script src="~/js/site.js"></script>
    <h1 class="fs-1">@ViewData["Title"]</h1>
    <p class="fs-3">Usted ha cerrado su sesion</p>

</header>
