@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Pages_Mora
@{
    ViewData["Title"] = "Mora";
}

    <div class="container">
        <h1 class="mt-4 mb-4">Consulta de Moras</h1>
        <div class="mb-4">
            <button id="btnAdd" class="btn btn-success mr-2">Agregar</button>
            <button id="btnRefresh" class="btn btn-primary mr-2">Actualizar</button>
            <button id="btnPrint" class="btn btn-info">Imprimir</button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id Mora</th>
                        <th>Fecha</th>
                        <th>Meses</th>
                        <th>Monto Adecuado</th>
                        <th>Nombre Completo Cliente</th>
                        <th>Atrasado</th>
                        <th>Al corriente</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="morasData">
                    <!-- Datos de moras se cargarán aquí -->
                </tbody>
            </table>
        </div>
    </div>
