@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Solicitud_de_TarjetaModel
@{
}

<divclass class="text-center">
    <h1 class="display 4">Solicitud de Tarjeta de Crédito</h1>
 

    
</divclass>
<div >
    <div class=" container">
        <form class="form-inline needs-validation" method="POST" novalidate>
            <p class="fs-1 text-center"> Datos Personales</p>
            <div class="mb-3">
                <label for="pNombre" class="form-label">Primer Nombre</label>
                <input class="form-control form-control-lg" type="text" placeholder="Primer Nombre"
                       aria-label="Contenedor de primer nombre" id="pNombre" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>

            <div class="mb-3">
                <label for="sNombre" class="form-label">Segundo Nombre</label>
                <input class="form-control form-control-lg" type="text" placeholder="Segundo Nombre"
                       aria-label="Contenedor de segundo nombre" id="sNombre" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>

            <div class="mb-3">
                <label for="pApellido" class="form-label">Primer Nombre</label>
                <input class="form-control form-control-lg" type="text" placeholder="Primer Apellido"
                       aria-label="Contenedor de primer apellido" id="pApellido" required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>

            <div class="mb-3">
                <label for="sApellido" class="form-label">Segundo Nombre</label>
                <input class="form-control form-control-lg" type="text" placeholder="Segundo Apellido"
                       aria-label="Contenedor de segundo Apellido" id="sApellido"required>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>

            <div class="mb-3">
                <select class="form-select" aria-label="Tipo de identificación" required>
                    <option selected> Seleccione el tipo de identificación</option>
                    <option value="1" id="Pasaporte" name="pasaporte">Pasaporte</option>
                    <option value="2" id="ID" name="ID">Identificación Nacional</option>
                    <option value="3" id=" RTN" name="RTN">RTN</option>
                </select>
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>

           
            </div>

            <div class="mb-3">
                <label for="fecha-nacimiento" class="form-label">Fecha de Nacimiento</label>
                <input class="form-control form-control-lg" type="text" placeholder="2023-10-31"
                       aria-label="Contenedor de fecha de nacimiento" id="fecha-nacimiento">
                <div class="invalid-feedback">
                    Este campo es obligatorio
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <input type="submit" class=" btn btn-primary" value="Login" />
                </div>
            </div>
        </form>

    </div>

</div>
