@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Solicitud_de_TarjetaModel
@{
}

<divclass ="text-center">
    <h1 class="display 4">Solicitud de Tarjeta de Crédito</h1>
    <p>Llenar la solicitud de Tarjeta de Crédito</p>
</divclass>